*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.4%;
}

body {
    font-family: 'Comfortaa', cursive;
}

header {
    position: relative;
}

.hero-content {
    position: absolute;
    top: 50%;
    z-index: 4;
    left: 10rem;
    transform: translateY(-50%);
    max-width: 78rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 3rem;
    backdrop-filter: blur(10px);
    padding: 38px;

}

.hero-content>h1 {
    margin-bottom: 0px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1px;
}

.hero-content>p {
    color: #000;
    font-size: 18px;
    margin-bottom: 0;
}

.shop-now {
    background: linear-gradient(92deg, #FF3D00 -3.66%, #E85F12 59.86%, #DC4A1B 93.9%);
    outline: 0;
    border: navajowhite;
    color: #FFF;
    text-align: center;
    font-size: 19px;
    font-weight: 100;
    text-transform: uppercase;
    padding: 1.4rem 4rem;
    position: relative;
}

.shop-now::before {
    position: absolute;
    content: '';
    width: 103%;
    height: 114%;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border: 1px solid red;
}

#hero-section .navbar {
    min-height: 8.8rem;
}

#hero-section .navbar>div:first-child {
    padding: 0 13rem;
}

#category-section {
    margin: 15px auto;
}

#category-section .men,
#category-section .women {
    max-height: 500px;
    width: 100%;
    position: relative;
    height: 500px;
    overflow: hidden;
}

#category-section .kids,
#category-section .discount {
    max-height: 244px;
    width: 100%;
    position: relative;
    height: 244px;
    overflow: hidden;
}

#category-section .kids {
    margin-bottom: 1.5rem;
}

#trending,
#latest-news {
    max-width: calc(100vw - 235px);
    width: 100%;
    margin: 6rem auto;
}

#you-may-like {
    max-width: 100%;
    background: rgb(255 61 0 / 6%);
    padding: 4rem 5.7%;
}

#advantages {
    background: rgba(225, 226, 224, 0.17);
    max-width: 100%;
    padding: 4rem 5.7%;
}

#trending .trending-carousel .owl-nav,
#you-may-like .like-carousel .owl-nav {
    position: absolute;
    top: -9rem;
    right: 1rem;
    font-size: 3rem;
}

#trending .trending-carousel.owl-theme .owl-nav [class*=owl-]:hover,
#you-may-like .like-carousel.owl-theme .owl-nav [class*=owl-]:hover {
    background: #86979100;
    color: #FF3D00;
}

.img-div {
    height: 397px;
    width: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.img-div>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 8px;
    transition: all .3s;
}

.img-div:hover img {
    transform: scale(1.1);
}

.rating-div {
    position: absolute;
    left: 11px;
    top: 11px;
    max-width: 56px;
    width: 100%;
    height: 29px;
    border-radius: 8px;
    background: linear-gradient(180deg, #FDECEC 0%, #9F9F9F 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 1.3rem;
    font-weight: bold;
}

.rating-div>span:last-child {
    color: #FFF506;
}

.content-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 11px 0;
}

.content-div>h3 {
    color: #000;
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: capitalize;
    width: 100%;
}

.content-div>p {
    color: #949494;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    width: 100%;
}

.price-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-div>div:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.price-div .actual-money {
    color: #A3A3A3;
    font-family: Comfortaa;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
}

.price-div .actual-money::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 108%;
    height: 2px;
    background: var(--btn_style, #FF3D00);
}

.price-div .discounted-price {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
}

.offer-div {
    color: #27C441;
    font-family: Comfortaa;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6rem;
}

.offer-div>span:last-child {
    font-size: 1.2rem;
}

.heading {
    font-size: 4rem;
    margin-bottom: 6rem;
    position: relative;
    font-weight: 700;
}

.heading::before {
    position: absolute;
    content: '';
    bottom: -1.1rem;
    left: 3.1rem;
    width: 6rem;
    height: 2px;
    background: var(--btn_style, #FF3D00);
}

.like-div,
.add-to-cart-div {
    position: absolute;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.like-div {
    top: 2rem;
}

.add-to-cart-div {
    top: 6.5rem;
    cursor: pointer;
}

.add-to-cart-div img {
    position: absolute;
    left: 22%;
    top: 21%;
}

input#like-icon,
#add-to-cart-icon {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 57%;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    z-index: 1;
    outline: none;
}

.like-div label,
.add-to-cart-div label,
.add-to-cart-div img {
    transition: all .3s;
}


input#like-icon:checked+label {
    color: #e13939;
}

.add-to-cart-div img.added-cart {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1.8rem;
    display: none;
}

input#add-to-cart-icon:checked+label img.waiting-for-adding {
    display: none;
}

input#add-to-cart-icon:checked+label img.added-cart {
    display: block;
}

.latest-news-items-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.latest-news-items-wrapper .content-div>h3 a {
    color: black;
    transition: all .3s;
}

.latest-news-items-wrapper .content-div>h3 a:hover {
    color: #FF3D00;
}

.tag-div {
    position: absolute;
    top: 11px;
    left: 11px;
    background: black;
    color: white;
    font-size: 1.2rem;
    padding: 0.7rem 1rem;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
}

a.read-more-btn {
    border-radius: 3px;
    background: linear-gradient(92deg, #DCDCDC 10%, #FFF 103.15%, rgba(217, 217, 217, 0.00) 103.16%, #F00 103.16%);
    padding: 1rem;
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: capitalize;
    transition: all .3s;
}

a.read-more-btn:hover {
    letter-spacing: .2rem;
}

.hero-carousel img {
    height: calc(100vh - 301px);
    object-fit: cover;
    object-position: center -97px;
}

.advantages-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.advantages-wrapper>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    position: relative;
}

.advantages-wrapper>div:not(:last-child):before {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    width: 1px;
    height: 70%;
    transform: translateY(-50%);
    background: #D2D2D2;
}

.advantages-wrapper>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.advantages-wrapper>div>div .sub-heading {
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.sub-heading+p {
    color: #7D7C7C;
    font-size: 13px;
    font-weight: 600;
}

.hero-carousel .owl-dots {
    position: absolute;
    bottom: 2rem;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.hero-carousel .owl-dots>.owl-dot {
    border: 2px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-carousel.owl-theme .owl-dots .owl-dot span {
    width: 17px;
    height: 17px;
    background: #ffffff00;
    position: relative;
}

.hero-carousel.owl-theme .owl-dots .owl-dot span::before {
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.hero-carousel .owl-dots>.owl-dot.active {
    border: 2px solid #FF3D00;
}

.hero-carousel .owl-dots>.owl-dot.active span::before {
    background: #FF3D00;
}

#hero-section .discount-div-top {
    background: black;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
}

#hero-section .discount-div-top p a {
    color: #FAFF17;
    font-family: Comfortaa;
    font-size: 1.5rem;
    font-weight: 700;
}

div#navbarSupportedContent .nav-link {
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: bolder;
    text-transform: capitalize;
    transition: all .3s;
}

div#navbarSupportedContent .nav-link.active,
div#navbarSupportedContent .nav-link:hover {
    color: #FF3D00;
}

#hero-section .side-menu-icon {
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
    padding-left: 0;
    font-size: 2rem;
    margin-bottom: 0;
}

#hero-section .side-menu-icon .nav-link {
    color: #000000;
}

#hero-section .side-menu-icon .nav-link img {
    max-width: 2.2rem;
    position: relative;
    top: -1px;
}

#category-section .men img,
#category-section .women img,
#category-section .kids img,
#category-section .discount img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
    left: 0;
}

.collection-content {
    position: absolute;
    bottom: -5.7rem;
    left: 0;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(360deg, black, transparent);
    color: white;
    font-weight: bold;
    transition: all .3s;
}

.collection-content>h1 {
    transition: all .3s;
    text-align: center;
    margin-bottom: 1rem;
}

.collection-content>a {
    font-size: 2rem;
    color: white;
    margin: 1rem auto;
    transition: all .3s;
    text-decoration: none;
}

.collection-content>a:hover {
    letter-spacing: 1px;
    color: wheat;
}

.discount:hover .collection-content,
.kids:hover .collection-content,
.men:hover .collection-content,
.women:hover .collection-content {
    bottom: 0rem;
}

footer {
    background: black;
    color: white;
    padding: 5rem 4rem 0rem 4rem;
}

footer .contents-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

footer .contents-wrapper+p {
    text-align: center;
    padding: 2rem 1rem;
    font-size: 1.4rem;
    border-top: 1px solid #ffffff3b;
    color: #e2e2e2;
}

footer .contents-wrapper label {
    font-size: 1.6rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

footer .contents-wrapper label+ul {
    font-size: 1.4rem;
    font-weight: bolder;
    margin-bottom: 4rem;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    color: #cfcfcf;
    margin-top: 1rem;
}

footer .contents-wrapper label+ul>li>a {
    color: #cfcfcf;
    font-size: 1.4rem;
    text-decoration: none;
    transition: all .3s;
}

footer .contents-wrapper label+ul>li>a:hover {
    color: white;
    letter-spacing: 1px;
}

footer .site-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 14rem 0 4rem;
}

footer .site-info p {
    font-size: 1.3rem;
}

footer .site-info ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 2rem;
    padding-left: 0;
}

footer .site-info ul li a {
    color: white;
    transition: all .3s;
}

footer .site-info ul li a svg {
    transition: all .3s;
}

footer .site-info ul li a:hover svg {
    transform: rotate(45deg);
}

@media screen and (max-width:1380px) {
    #hero-section .navbar>div:first-child {
        padding: 0 4rem;
    }

    .hero-content {
        left: 2rem;
    }

    #trending,
    #latest-news {
        max-width: calc(100vw - 98px);
    }

    #you-may-like,
    #advantages {
        padding: 4rem 3.9%;
    }
}

@media screen and (max-width:1270px) {
    #hero-section .navbar>div:first-child {
        padding: 0 2rem;
    }

    .hero-content {
        left: 1rem;
    }

    #trending,
    #latest-news {
        max-width: calc(100vw - 58px);
    }

    #you-may-like,
    #advantages {
        padding: 4rem 1.9%;
    }

    .latest-news-items-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .collection-content>h1 {
        font-size: 2rem;
    }

    .heading {
        font-size: 3rem;
        margin-bottom: 5rem;
    }
}

@media screen and (max-width:900px) {
    footer .site-info {
        padding: 0 3rem 0 4rem;
    }

    footer {
        padding: 5rem 0rem 0rem 0rem;
    }

    .advantages-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .advantages-wrapper>div:nth-child(2):before {
        display: none;
    }

    .hero-content {
        max-width: 45rem;
        padding: 21px;
    }

    .hero-content>h1 {
        font-size: 3rem;
    }

    .hero-content>p {
        font-size: 1.2rem;
    }

    .shop-now {
        font-size: 1.2rem;
        padding: 1.2rem 3rem;
    }

    .hero-carousel img {
        object-position: center center;
    }
}

@media screen and (max-width:768px) {
    .img-div {
        height: 288px;
    }

    #category-section .men,
    #category-section .women {
        max-height: 360px;
        height: 360px;
    }

    #category-section .kids,
    #category-section .discount {
        max-height: 173px;
        height: 173px;
    }

    .collection-content>h1 {
        font-size: 1.6rem;
    }

    .content-div>h3 {
        font-size: 1.4rem;
    }

    .content-div {
        margin: 11px 0 0;
    }

    .price-div .actual-money,
    .price-div .discounted-price {
        font-size: 1.3rem;
    }

    .rating-div {
        max-width: 44px;
        height: 22px;
        gap: 4px;
        font-size: 1.1rem;
    }

    .like-div {
        top: 1rem;
    }

    .add-to-cart-div {
        top: 5.5rem;
    }

}

@media screen and (max-width:767px) {
    footer .contents-wrapper {
        grid-template-columns: auto;
    }

    footer .site-info {
        padding: 0;
    }

    footer .contents-wrapper {
        padding: 0 3rem 0 3rem;
    }

    #hero-section .discount-div-top {
        font-size: 1.2rem;
    }


}

@media screen and (max-width:600px) {
    .collection-content>h1 {
        font-size: 1.2rem;
    }

    #category-section .men,
    #category-section .women {
        max-height: 221px;
        height: 221px;
    }

    #category-section .kids,
    #category-section .discount {
        max-height: 104px;
        height: 104px;
    }

    .latest-news-items-wrapper>div {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:500px) {
    .img-div {
        height: 226px;
    }

    .heading {
        font-size: 2.6rem;
        margin-bottom: 4rem;
    }

    #trending,
    #latest-news {
        max-width: calc(100vw - 18px);
        margin: 3rem auto;
    }

    .latest-news-items-wrapper {
        gap: 1rem;
    }
}

@media screen and (max-width:480px) {
    .img-div {
        height: 226px;
    }

    .heading {
        font-size: 2.6rem;
        margin-bottom: 4rem;
    }

    #trending,
    #latest-news {
        max-width: calc(100vw - 18px);
        margin: 3rem auto;
    }

    .latest-news-items-wrapper {
        gap: 1rem;
    }

    .latest-news-items-wrapper,
    .advantages-wrapper {
        grid-template-columns: auto;
    }

    .advantages-wrapper>div:not(:last-child):before {
        display: none;
    }
}